.vs/UdupiElectricityBoard/v16/
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/UdupiElectricityBoard.dll
obj/Debug/UdupiElectricityBoard.pdb
obj/Debug/UdupiElectricityBoard.vbproj.CoreCompileInputs.cache
bin/UdupiElectricityBoard.dll
bin/UdupiElectricityBoard.pdb
modified:   UdupiElectricityBoard.vbproj
